/*reset 重置*/
body,ul,ol,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,
td,th,button,strong,em,select,video,canvas{margin:0;padding:0;}
li{list-style:none;vertical-align:top;}
table{ border-collapse:collapse;}
textarea{resize:none;overflow:auto;}
img{ border:none; vertical-align:middle;}
em{ font-style:normal;}
a{ text-decoration:none;}
a,input,div,img,canvas{
    -webkit-appearance: none;/*屏蔽阴影*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /*ios android去除自带阴影的样式*/
}
input {
    background: none;
    outline: none;
    border: none;
}
html, body, #app {
    width: 100%;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}
#app {
    font-family: 'Microsoft YaHei';
    background-color: #e8e62f;
}
.page, .content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.music {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
    background: url("http://n.sinaimg.cn/gd/xiaopiqi/answer/music_icon.png") center center no-repeat;
}
.music.active {
  animation: music 4s linear infinite;
}
@keyframes music {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes girlStand {
    0% {
        transform: rotate(0deg);
        transform-origin: 50px bottom
    }
    100% {
        transform: rotate(2deg);
        transform-origin: 50px bottom
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

@keyframes wave {
    0%, 33%, 100% {
        transform: scale(1);
    }
    16% {
        transform: scale(1.05);
    }
}